/* 页面初始化 */
*{margin: 0;padding: 0;}
html,body,ul,li,ol,dl,form,a,img,input,p,div,h1,h2,h3,h4,h5,h6,span,table,tr,td{margin: 0;padding: 0;}
a{text-decoration: none;}
li{list-style: none;}
img{vertical-align: top; border: 0;}
h1,h2,h3,h4,h5,h6{font-weight: normal;}
b,strong{font-weight: normal;}
i,em{font-style: normal;}
html,body{font: 14px "微软雅黑";}
input{border: 0; outline: none;}

.clearfix::after{
    content: ",";
    display: block;
    clear: both;
    height: 0;
    overflow: hidden;
}

.clearfix{zoom: 1;}

.fl{float: left;}
.fr{float: right;}