@charset "UTF-8";
.out_top {
  display: block;
}
.out_top .top {
  height: 63px;
  display: block;
  width: 100%;
  border-bottom: 1px solid #999;
  box-shadow: 0 1px 2px 0px;
}
.out_top .top .top_heart {
  width: 1226px;
  height: 63px;
  margin: 0 auto;
}
.out_top .top .top_heart h2 {
  height: 63px;
  line-height: 63px;
  font: 18px;
}
.out_top .top .top_heart ul {
  height: 63px;
  line-height: 63px;
}
.out_top .top .top_heart ul li {
  float: left;
}
.out_top .top .top_heart ul li a {
  padding: 0 10px;
  font-size: 12px;
  border-right: 1px solid #aaa;
}
.out_top .top .top_heart ul li a:hover {
  color: #fb5643;
}

main {
  width: 100%;
  background: #fff;
}
main .main_heart {
  width: 1226px;
  margin: 0 auto;
}
main .main_heart .left {
  width: 400px;
  height: 500px;
  margin-top: 50px;
  float: left;
  position: relative;
  text-align: center;
}
main .main_heart .left .big {
  display: none;
  width: 400px;
  height: 400px;
  position: absolute;
  border: 1px solid #ccc;
  left: 105%;
  overflow: hidden;
  background: #fff;
}
main .main_heart .left .big img {
  position: absolute;
  width: 1600px;
  height: 1600px;
}
main .main_heart .left .middle, main .main_heart .left .middle img {
  background: #fff;
  border: #0f0 1px solid;
  width: 400px;
  height: 400px;
  position: absolute;
  left: 0;
  top: 0;
}
main .main_heart .left .middle .shade {
  display: none;
  cursor: pointer;
  width: 100px;
  height: 100px;
  background: rgba(0, 0, 0, 0.3);
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}
main .main_heart .left .small {
  width: 400px;
  height: 60px;
  position: absolute;
  bottom: 0;
}
main .main_heart .left .small img {
  cursor: pointer;
  width: 60px;
  height: 60px;
  border: 1px solid #ff0;
  margin: 5px;
}
main .main_heart .right {
  width: 600px;
  height: 900px;
  margin-top: 50px;
  float: right;
}
main .main_heart .right h1 {
  font-size: 24px;
}
main .main_heart .right .price {
  margin-top: 20px;
  font-size: 16px;
  color: #fb5643;
}
main .main_heart .right .edition, main .main_heart .right .color {
  width: 600px;
}
main .main_heart .right .edition h2, main .main_heart .right .color h2 {
  height: 55px;
  line-height: 55px;
  font-size: 18px;
}
main .main_heart .right .edition ul, main .main_heart .right .color ul {
  width: 600px;
}
main .main_heart .right .edition ul li, main .main_heart .right .color ul li {
  float: left;
  height: 40px;
  line-height: 40px;
  width: 290px;
  text-align: center;
  border: #888 1px solid;
  margin: 0 8px 20px 0;
}
main .main_heart .right .edition ul li:hover, main .main_heart .right .color ul li:hover {
  border: #fb5643 1px solid;
}
main .main_heart .right .edition ul li:hover a, main .main_heart .right .color ul li:hover a {
  color: #fb5643;
}
main .main_heart .right .edition ul li a, main .main_heart .right .color ul li a {
  color: #999;
  font-size: 14px;
}
main .main_heart .right .desc {
  margin: 20px 0;
  width: 600px;
  height: 200px;
  background: #ccc;
  padding: 20px;
  font: 600 20px/30px "楷体";
}
main .main_heart .right .toAll {
  padding: 0 20px;
  width: 600px;
  height: 144px;
  font-size: 24px;
  color: #fb5643;
  background: #eee;
  text-align: center;
}
main .main_heart .right .toAll span {
  font-size: 12px;
  color: #888;
  line-height: 60px;
}
main .main_heart .right .toAll span:last-child {
  font-size: 24px;
  color: #fb5643;
}
main .main_heart .right .toAll input {
  margin-top: 30px;
  cursor: pointer;
  border: 1px solid #333;
  padding: 5px 8px;
  font-size: 16px;
  text-align: center;
}
main .main_heart .right .toAll input[type=number] {
  width: 50px;
  cursor: not-allowed;
}
main .main_heart .right .btn {
  margin-top: 20px;
}
main .main_heart .right .btn .cart, main .main_heart .right .btn .go {
  margin-right: 20px;
  width: 200px;
  height: 54px;
  background: #ff6464;
}
main .main_heart .right .btn .cart:hover, main .main_heart .right .btn .go:hover {
  background: #fb5643;
}

/*# sourceMappingURL=detail.css.map */
