header > .header-heart, nav > .nav-heart, footer > .footer-heart, .partner > .partner-heart {
  width: 1226px;
  margin: 0 auto;
}

header {
  background: #333333;
  width: 100%;
  height: 40px;
}
header > .header-heart > .left {
  float: left;
}
header > .header-heart > .left > .ma > a {
  display: block;
  position: relative;
}
header > .header-heart > .left > .ma > a:hover span {
  display: block;
  background: #fff;
}
header > .header-heart > .left > .ma > a > span {
  color: #333;
  font-size: 16px;
  width: 155px;
  height: 185px;
  display: none;
  position: absolute;
  left: -60%;
  text-align: center;
  background: none;
  box-shadow: #333 0 0 2px 0px;
  z-index: 9;
}
header > .header-heart > .left > .ma > a > span img {
  margin-top: 30px;
  width: 110px;
  height: 110px;
}
header > .header-heart > .right {
  float: right;
}
header > .header-heart > .right > li:last-child {
  width: 120px;
  height: 40px;
  background: #424242;
  margin: 0 auto;
}
header > .header-heart > .right > li:last-child:hover {
  background: #fff;
}
header > .header-heart > .right > li:last-child:hover a {
  color: #fb5643;
}
header > .header-heart > .right > li:last-child > a {
  display: block;
  border: none;
  margin-left: 15px;
}
header > .header-heart > .left > li, header > .header-heart > .right > li {
  float: left;
  margin-right: 8px;
}
header > .header-heart > .left > li > a, header > .header-heart > .right > li > a {
  font-size: 12px;
  height: 12px;
  line-height: 40px;
  color: #b0b0b0;
  border-left: 1px solid #393e3e;
  padding-left: 8px;
}
header > .header-heart > .left > li > a:hover, header > .header-heart > .right > li > a:hover {
  color: #eee;
}
header > .header-heart > .left > li:first-child > a, header > .header-heart > .right > li:first-child > a {
  border-left: none;
  padding-left: 0;
}

nav {
  width: 100%;
  height: 100px;
  line-height: 100px;
  position: relative;
}
nav > .nav-heart {
  height: 100px;
}
nav > .nav-heart > .logo, nav > .nav-heart > ul {
  float: left;
}
nav > .nav-heart > .logo {
  width: 55px;
  height: 55px;
  margin-right: 178px;
}
nav > .nav-heart > .logo > a > img {
  margin-top: 22px;
}
nav > .nav-heart > ul > li {
  float: left;
  margin: 0 11px;
}
nav > .nav-heart > ul > li > a {
  font-size: 16px;
}
nav > .nav-heart > ul > li > a:hover {
  color: #fb5643;
}
nav > .nav-heart > .search {
  float: right;
  height: 50px;
  margin-top: 22px;
}
nav > .nav-heart > .search > input {
  padding-left: 10px;
  font-size: 16px;
  width: 150px;
  height: 50px;
  display: block;
  float: left;
  border: 1px solid #777;
  border-right: none;
}
nav > .nav-heart > .search > span {
  display: block;
  float: left;
  width: 50px;
  height: 50px;
  border: 1px solid #777;
}
nav > .menu {
  position: absolute;
  top: 100px;
  width: 100%;
  height: 230px;
  background: #ffc8c8;
  display: none;
  z-index: 99;
}

footer {
  width: 100%;
  background: #fff;
  height: 332px;
}
footer > .footer-heart > .top {
  height: 52px;
  border-bottom: 1px solid #ccc;
  margin-top: 27px;
}
footer > .footer-heart > .top > li {
  height: 25px;
  line-height: 25px;
  padding: 0 70px;
  float: left;
  border-right: 1px solid #ccc;
}
footer > .footer-heart > .top > li:last-child {
  border: none;
}
footer > .footer-heart > .top > li > a {
  font-size: 16px;
}
footer > .footer-heart > .top > li > a:hover {
  color: #fb5643;
}
footer > .footer-heart > .left {
  float: left;
  margin-top: 40px;
}
footer > .footer-heart > .left > dl {
  width: 160px;
  float: left;
}
footer > .footer-heart > .left > dl > dt {
  height: 44px;
  font-size: 14px;
}
footer > .footer-heart > .left > dl > dd {
  height: 28px;
  font-size: 12px;
}
footer > .footer-heart > .left > dl > dd > a:hover {
  color: #fb5643;
}
footer > .footer-heart > .right {
  float: right;
  width: 142px;
  height: 110px;
  margin-top: 40px;
  padding: 0 62px;
}
footer > .footer-heart > .right > h2 {
  font-size: 16px;
  line-height: 20px;
  height: 20px;
  color: #fb5643;
}
footer > .footer-heart > .right > h3 {
  font-size: 12px;
  line-height: 32px;
  height: 32px;
  color: #464646;
}
footer > .footer-heart > .right > .server {
  width: 118px;
  height: 28px;
  line-height: 28px;
  border: 1px solid #fb5643;
  text-align: center;
}
footer > .footer-heart > .right > .server:hover {
  background: #fb5643;
}
footer > .footer-heart > .right > .server > a {
  color: #fb5643;
}
footer > .footer-heart > .right > .server:hover > a {
  color: #fff;
  transition: 0.3s all;
}

.partner {
  width: 100%;
  height: 140px;
  background: whitesmoke;
}
.partner > .partner-heart > .bottom > .logo {
  float: left;
}
.partner > .partner-heart > .bottom > .logo > img {
  margin-top: 30px;
}
.partner > .partner-heart > .bottom > .other {
  float: left;
  margin: 30px 0 0 10px;
  width: 968px;
  font-size: 12px;
}
.partner > .partner-heart > .bottom > .other > span:first-child {
  color: #333;
  font-weight: 700px;
}
.partner > .partner-heart > .bottom > .other > span:last-child {
  color: #999;
  font-weight: 700px;
}

/*# sourceMappingURL=public.css.map */
