@charset "UTF-8";
header > .header-heart, main > .main-heart, footer > .footer-heart, .partner > .partner-heart {
  width: 1226px;
  margin: 0 auto;
}

.head {
  display: block;
}
.head header {
  width: 100%;
  height: 100px;
  background: #fff;
  border-bottom: 2px solid #fb5643;
}
.head header .header-heart .logo {
  float: left;
  line-height: 100px;
}
.head header .header-heart .logo img {
  margin-top: 26px;
}
.head header .header-heart .logo .my {
  font-size: 28px;
  margin-left: 40px;
}
.head header .header-heart .logo .prompt {
  font-size: 12px;
  color: #555;
  margin-left: 10px;
}
.head header .header-heart .master {
  float: right;
  line-height: 100px;
  font-size: 12px;
}

main {
  width: 100%;
  background: whitesmoke;
  padding-top: 30px;
  padding-bottom: 30px;
}
main .main-heart {
  width: 1226px;
  margin: 0 auto;
}
main .main-heart table {
  text-align: center;
  background: #fff;
  width: 100%;
}
main .main-heart table tr {
  border-bottom: 1px solid whitesmoke;
}
main .main-heart table tr th {
  height: 70px;
  padding: 10px;
}
main .main-heart table tr td {
  width: 50px;
  height: 116px;
}
main .main-heart table tr td img {
  width: 100px;
  height: 100px;
}
main .main-heart table tr td input {
  cursor: pointer;
  border: 1px solid #333;
  padding: 5px 8px;
  font-size: 16px;
  text-align: center;
}
main .main-heart table tr td input[type=number] {
  width: 50px;
  cursor: not-allowed;
}
main .main-heart table tr td .active {
  cursor: pointer;
  padding: 5px 20px;
  font-size: 16px;
  border: none;
  border-radius: 10px;
  background: #ff641e;
}
main .main-heart table tr td .ff {
  width: 200px;
  height: 50px;
  display: block;
  margin: 20px auto;
}
main .main-heart table tr td .ff .continue {
  width: inherit;
  height: inherit;
  cursor: pointer;
  background: #c00;
  color: #fff;
  border-radius: 10px;
}
main .main-heart .empty {
  width: 100%;
  height: 500px;
}
main .main-heart .empty h1 {
  font: 800 50px/50px "楷体";
}
main .main-heart .empty img {
  width: 300px;
  height: 300px;
  margin: 20px auto;
}
main .main-heart .empty button {
  width: 200px;
  height: 50px;
  font: 600 30px/30px "楷体";
  color: #000;
  border-radius: 10px;
  background: #f56464;
}
main .main-heart .empty button:hover {
  color: #fff;
  background: #f00;
}

footer {
  width: 100%;
  background: #fff;
  height: 332px;
}
footer > .footer-heart > .top {
  height: 52px;
  border-bottom: 1px solid #ccc;
  margin-top: 27px;
}
footer > .footer-heart > .top > li {
  height: 25px;
  line-height: 25px;
  padding: 0 70px;
  float: left;
  border-right: 1px solid #ccc;
}
footer > .footer-heart > .top > li:last-child {
  border: none;
}
footer > .footer-heart > .top > li > a {
  font-size: 16px;
}
footer > .footer-heart > .top > li > a:hover {
  color: #fb5643;
}
footer > .footer-heart > .left {
  float: left;
  margin-top: 40px;
}
footer > .footer-heart > .left > dl {
  width: 160px;
  float: left;
}
footer > .footer-heart > .left > dl > dt {
  height: 44px;
  font-size: 14px;
}
footer > .footer-heart > .left > dl > dd {
  height: 28px;
  font-size: 12px;
}
footer > .footer-heart > .left > dl > dd > a:hover {
  color: #fb5643;
}
footer > .footer-heart > .right {
  float: right;
  width: 142px;
  height: 110px;
  margin-top: 40px;
  padding: 0 62px;
}
footer > .footer-heart > .right > h2 {
  font-size: 16px;
  line-height: 20px;
  height: 20px;
  color: #fb5643;
}
footer > .footer-heart > .right > h3 {
  font-size: 12px;
  line-height: 32px;
  height: 32px;
  color: #464646;
}
footer > .footer-heart > .right > .server {
  width: 118px;
  height: 28px;
  line-height: 28px;
  border: 1px solid #fb5643;
  text-align: center;
}
footer > .footer-heart > .right > .server:hover {
  background: #fb5643;
}
footer > .footer-heart > .right > .server > a {
  color: #fb5643;
}
footer > .footer-heart > .right > .server:hover > a {
  color: #fff;
  transition: 0.3s all;
}

.partner {
  width: 100%;
  height: 140px;
  background: whitesmoke;
}
.partner > .partner-heart > .bottom > .logo {
  float: left;
}
.partner > .partner-heart > .bottom > .logo > img {
  margin-top: 30px;
}
.partner > .partner-heart > .bottom > .other {
  float: left;
  margin: 30px 0 0 10px;
  width: 968px;
  font-size: 12px;
}
.partner > .partner-heart > .bottom > .other > span:first-child {
  color: #333;
  font-weight: 700px;
}
.partner > .partner-heart > .bottom > .other > span:last-child {
  color: #999;
  font-weight: 700px;
}

/*# sourceMappingURL=shop.css.map */
