.container{
  height: 529px;
  overflow: hidden;
}
.container form .form-group{
  margin: 10px;
}

.container .header span{
  cursor: pointer;
  margin: 0 10px;
  color: #00f;
  text-decoration: underline;
}

table thead th,table tbody td{
  text-align: center;
  padding: 3px 20px;
  margin: 1px 2px;
  border: 1px solid #f00;
}
table thead tr{
  background: #0f0;
}
table tbody td .active{
  cursor: pointer;
  color: #00f;
  text-decoration: underline;
}