$colorRed:rgb(251, 86, 67);


.header-heart,.main-heart,.footer-heart{
  width: 1130px;
  margin: 0 auto;
}
header{
  width: 100%;
  .header-heart{
    padding: 25px 0;
    .logo{
      height: 48px;
      font-size: 20px;
    }
  }
}

.banner{
  width: 100%;
  height: 588px;
  background: url(../img/login/banner.jpg) no-repeat;
  position: absolute;
  left: 0;
  top: 98px;
  background-position: top center;
}
main{
  width: 100%;
  margin: 0 auto;
  .main-heart{
    height: 588px;
    position: relative;
    text-align: center;
    .form{
      width: 370px;
      height: 516px;
      background: #fff;
      position: absolute;
      z-index: 99;
      top: 32px;
      right: 0;
      padding: 20px;
      .tab{
        height: 38px;
        a{
          font-size: 24px;
        }
        .lo{
          color: $colorRed;
        }
        .re{
          &:hover{
            color: $colorRed;
            & + .lo{
              color: #000;
            }
          }
          
        }
        span{
          font-size: 24px;
          margin: 0 42px;
          color: #ccc;
        }
      }
      form{
        margin-top: 30px;
        input{
          display: block;
          width: 300px;
          height: 40px;
          border: 1px solid #ccc;
          margin: 10px auto;
          padding-left: 10px;
        }
        .rem{
          width: 40px;
          display: inline;
          height: 15px;
          margin: 0;
          padding: 0;
        }
        button{
          @extend input ;
          width: 310px;
          outline: none;
          color: skyblue;
          background: $colorRed;
          &:hover{
            cursor: pointer;
            color: #fff;
            border: 1px solid #f00;
            background: #f00;
          }
        }
      }
      p{
        font-size: 12px;
        a{
          color: $colorRed;
        }
      }
      .bo{
        margin-top: 36px;
        a{
          font-size: 12px;
          color: #ccc;
        }
        span{
          color: #ddd;
        }
      }
    }
  }
}
footer{
  width: 100%;
  .footer-heart{
    height: 130px;
    text-align: center;
    div:nth-child(1){
      margin-top: 85px;
      height: 33px;
      font-size: 13px;
      line-height: 33px;
    }
    div:nth-child(2){
      height: 33px;
      font-size: 13px;
      line-height: 33px;
    }
  }
}