.header,.banner,.content1,.content2,.content3,.brand-bg,.content4,.content5,.content6,.content7,.bottom{
    width: 1326px;
}
.header{
    height: 82px;
    background: #ffffff;
    position: fixed;
    top: 0;
    z-index: 15;
}
.head,.con1-1,.con2-1,.con2-2,.con3-1,.con4-1,.con6-1,.con7-1,.bot{
    width: 1180px;
    margin: 0 auto;
}
.head{
    height: 82px;
}
.header .head img{
    margin-top: 19px;
    margin-left: 5px;
    float: left;
}
.head ul{
    width: 696px;
    height: 82px;
    float: right;
}
.head ul li{
    height: 50px;
    float: left;
    margin: 10px 20px;
    line-height: 50px;
}
.head ul li a{
    font-size: 16px;
    color: #000200;
}
.head ul li:hover a{
    color: #ed3c42;
}
.head ul li:hover{
    border-bottom: 2px solid #ed3c42;
}
.head ul .shou a{
    color: #ed3c42;
}
.head ul li:nth-child(1){
    border-bottom: 2px solid #ed3c42;
}
.banner{
    margin-top: 82px;
    position: relative;
}
.banner img{
    height: 700px;
    width: 100%;
}
.banner .red{
    width: 5.5px;
    height: 5.5px;
    background-color: #f9383d;
    border-radius: 5.5px;
    position: absolute;
    bottom: 20px;
    left: 648px;
}
.banner .black{
    width: 5.5px;
    height: 5.5px;
    background-color: #555555;
    border-radius: 5.5px;
    position: absolute;
    bottom: 20px;
    left: 667px;
}
.content1{
    height: 211px;
    background: #1b252e;
    float: left;
}
.content1 .con1-1{
    position: relative;
}
.content1 .con1-1 h3{
    width: 200px;
    font-size: 23px;
    height: 61px;
    line-height: 61px;
    margin-top: 36px;
    color: #fefefe;
}
.content1 .con1-1 p{
    font-size: 16px;
    height: 32px;
    line-height: 32px;
    width: 769px;
    color: #fefefe;
}
.content1 .con1-1 .more{
    width: 166px;
    height: 54px;
    font-size: 16px;
    line-height: 54px;
    text-align: center;
    border-radius: 27px;
    background: #fefefe;
    position: absolute;
    color: #000000;
    right: 104px;
    top: 42px;
}
.content1 .con1-1 .more:hover{
    color: white;
    background: #f9383d;
}
.content2{
    height: 595px;
    background: #ffffff;
    clear: both;
}
.content2 .con2-1{
    border-bottom: 1px solid #dedede;
}
.content2 .con2-1 h1{
    font-size: 36px;
    height: 185px;
    text-align: center;
    margin-top: 90px;
    line-height: 214px;
}
.content2 .con2-1{
    width: 1180px;
    height: 185px;
}
.content2 .con2-2{
    margin-top: 47px;
}
.content2 .con2-2 dl{
    float: left;
    width: 295px;
    height: 218px;
    text-align: center;
}

.content2 .con2-2 .box{
    width: 1180px;
    height: 264px;
}
.content2 .con2-2 dl h5{
    margin-top: 60px;
    font-size: 24px;
    color: #333333;
}
.content2 .con2-2 dl dd{
    margin-top: 15px;
    font-size: 12px;
    color: #999999;
}
.content2 .con2-2 dt img{
    height: 103px;
}
.content3{
    height: 716px;
    background: #ebebeb;
}
.content3 .h{
    height: 112px;
    width: 1180px;
    padding-top: 70px;
    text-align: center;
}
.content3 .con3-1 h2{
    font-size: 32px;
    font-weight: bold;
    line-height: 32px;
    margin-bottom: 20px;
}
.content3 .con3-1 h6{
    font-size: 16px;
    line-height: 16px;
}
.content3 .box{
    height: 465px;
}

.content3 .con3-1 .box ul{
    width: 260px;
    height: 200px;
    background: #fefefe;
    float: left;
    padding: 8px;
    margin-left: 25px;
    text-align: center;
    margin-bottom: 17px;
    box-shadow: 1px 2px 2px 0px #cccccc;
}
.content3 .con3-1 .box ul:hover{
    box-shadow: 1px 2px 4px 2px #cccccc;
}
.content3 .con3-1 .box ul:hover h5{
    color: #f9383d;
}
.content3 .con3-1 .box ul img{
    width: 100%;
}
.content3 .con3-1 .box ul:nth-child(1){
    margin-left: 1px;
}
.content3 .con3-1 .box ul:nth-child(5){
    margin-left: 1px;
}
.content3 .con3-1 .box ul h5{
    margin-top: 15px;
    font-size: 12px;
    color: #454545;
}
.brand-bg{
    width: 1326px;
    height: 428px;
    position: relative;
}
.brand-bg p:nth-child(1){
    font-size: 30px;
    position: absolute;
    top: 140px;
    left: 300px;
    color: red;
}
.brand-bg h3:nth-child(1){
    font-size: 30px;
    position: absolute;
    top: 157px;
    left: 363px;
    color: #ffffff;
}
.brand-bg h3:nth-child(2){
    font-size: 30px;
    position: absolute;
    top: 246px;
    left: 592px;
    color: #ffffff;
}
.brand-bg h3 img{
    width: 33px;
    height: 28px;
}
.brand-bg h3:nth-child(3){
    position: absolute;
    top: 131px;
    left: 285px;
}
.brand-bg h3:nth-child(4){
    position: absolute;
    top: 133px;
    right: 284px;
}
.brand-bg img{
    height: 428px;
    width: 100%;
}
.content4{
    height: 598px;
    background: #ffffff;
}
.content4 .con4-1{
    padding-top: 79px;
}
.content4 .con4-1 .h5{
    text-align: center;
}
.content4 .con4-1 .h5 h5{
    font-size: 32px;
    line-height: 32px;
    font-weight: bold;
    margin-bottom: 20px;
}
.content4 .con4-1 .h5 h6{
    font-size: 16px;
    line-height: 16px;
    color: #979797;
    margin-bottom: 88px;
}
.content4 .con4-1 .dl{
    height: 208px;
}
.content4 .con4-1 .dl dl{
    width: 295px;
    height: 208px;
    float: left;
    text-align: center;
}
.content4 .con4-1 .dl dl dd{
    font-size: 32px;
    font-weight: bold;
    color: #f3393a;
    margin-top: 65px;
    line-height: 32px;
}
.content4 .con4-1 .dl dl p{
    font-size: 16px;
    color: #989898;
    margin-top: 22px;
    line-height: 16px;
}
.content5{
    height: 536px;
    background: url(../img/about-bg.jpg) no-repeat;
    background-size: 1326px;
    position: relative;
}
.content5 .con5-1{
    width: 496px;
    height: 204px;
    float: right;
    margin-top: 113px;
    padding-right: 73px;
}
.content5 .con5-1 h1{
    font-size: 38px;
    height: 106px;
    line-height: 106px;
    color: #434544;
}
.content5 .con5-1 p{
    font-size: 16px;
    height: 32px;
    line-height: 32px;
    color: #7a7e81;
}
.content5 .more{
    width: 156px;
    height: 49px;
    border: 1px solid #7f8082;
    background: #fefefe;
    position: absolute;
    bottom: 86px;
    right: 410px;
    line-height: 49px;
    text-align: center;
}
.content5 .more a{
    color: #020202;
    font-size: 12px;
}
.content5 .more:hover{
    background: #f3393a;
}
.content5 .more:hover a{
    color: #fefefe;
}
.content6{
    height: 706px;
}
.content6 .con6-1 .pic1{
    padding-top: 86px;
    text-align: center;
}
.content6 .con6-1 .pic1 h1{
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 46px;
    color: #333333;
}
.content6 .con6-1 .pic1 p{
    font-size: 16px;
    margin-bottom: 21px;
    color: #656565;
}
.content6 .con6-1 .pic1 h2{
    font-size: 20px;
    margin-bottom: 79px;
    color: #333333;
}
.content6 .con6-1 .pic2{
    width: 1180px;
    height: 90px;
    padding-left: 12px;
}
.content6 .con6-1 .pic2 dl{
    height: 88px;
    width: 348px;
    margin-right: 42px;
    border: 1px solid #cacaca;
    float: left;
}
.content6 .con6-1 .pic2 dl dt{
    padding-left: 24px;
    padding-top: 29px;
    float: left;
}
.content6 .con6-1 .pic2 dl dd{
    padding-left: 40px;
    padding-top: 24px;
    float: left;
}
.content6 .con6-1 .pic2 dl dd h6{
    font-size: 16px;
    color: #636363;
    margin-bottom: 13px;
}
.content6 .con6-1 .pic2 dl dd h5{
    font-size: 9px;
    color: #636363;
}
.content6 .con6-1 .pic3{
    text-align: center;
    width: 1180px;
    height: 177px;
    position: relative;
    margin-top: 68px;
}
.content6 .con6-1 .pic3 .box1{
    width: 150px;
    height: 177px;
    position: absolute;
    background: #ffffff;
    bottom: 0;
    left: 516px;
    z-index: 10;
}
.content6 .con6-1 .pic3 .box1 img{
    width: 150px;
    height: 150px;
}
.content6 .con6-1 .pic3 .box1 p{
    font-size: 12px;
    line-height: 12px;
    margin-top: 5px;
}
.content6 .con6-1 .pic3 .box2{
    width: 344px;
    height: 84px;
    position: absolute;
    bottom: 15px;
    left: 415px;
    border: 2px solid #000000;
}
.content7{
    height: 514px;
    background: #ebebeb;
}
.content7 .con7-1{
    padding-top: 100px;
}
.content7 .con7-1 .dl{
    width: 1180px;
    height: 284px;
}
.content7 .con7-1 .dl dl{
    width: 272px;
    height: 284px;
    float: left;
    margin-right: 30px;
    text-align: center;
    background: #fefefe;
}
.content7 .con7-1 .dl dl:nth-child(4){
    margin-right: 0;
}
.content7 .con7-1 .dl dl dt img{
    width: 273px;
    height: 175px;
    float: left;
}
.content7 .con7-1 .dl dl dd{
    font-size: 16px;
    padding-top: 203px;
    line-height: 16px;
    color: #333333;
}
.content7 .con7-1 .dl dl p{
    font-size: 12px;
    line-height: 12px;
    margin-top: 19px;
    color: #797979;
}
.content7 .con7-1 .dl dl:hover{
    background: #ed3c42;
}
.content7 .con7-1 .dl dl:hover dd{
    color: #fefefe;
}
.content7 .con7-1 .dl dl:hover p{
    color: #fefefe;
}
.bottom{
    height: 263px;
    background: #1b252e;
}
.bottom .bot .bot-1{
    width: 1180px;
    height: 142px;
    border-bottom: 1px solid #303a43;
}

.bottom .bot .bot-1 dl{
    width: 232px;
    height: 70px;
    float: left;
    padding-top: 72px;
    padding-left: 63px;
}
.bottom .bot .bot-1 dl dt{
    float: left;
}

.bottom .bot .bot-1 dl dd{
    float: left;
    margin-left: 14px;
    margin-top: 5px;
    font-size: 12px;
    color: #88919a;
}
.bottom .bot .bot-2{
    height: 120px;
    width: 1180px;
}
.bottom .bot .bot-2 ul{
    padding-top: 30px;
    padding-left: 326px;
    height: 12px;
    line-height: 12px;
    text-align: center;
}
.bottom .bot .bot-2 ul li{
    float: left;
    margin-right: 20px;
    font-size: 12px;
}
.bottom .bot .bot-2 ul li a{
    color: #90949d;
}
.bottom .bot .bot-2 p{
    color: #909196;
    font-size: 12px;
    margin-top: 14px;
    padding-left: 246px;
}
.bottom .bot .bot-2 h6{
    color: #909196;
    font-size: 12px;
    margin-top: 14px;
    padding-left: 527px;
}